 
#badges{
    text-align: justify;
    min-width: 500px;
    margin-bottom: -180px;
    padding-top: 50px;
}
#badges:after {
    content: '';
    display: inline-block;
    width: 100%;
}
#badges li {
    display: inline-block;
    background-color: #FFF;
    border: 1px solid #dfdfdf;
    margin: 2px;
    padding: 2px;

}

#badges.large-3.columns {
  width: 100% !important;
}
//